[submodule "TerracottaEngine/vendor/glfw"]
	path = TerracottaEngine/vendor/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "TerracottaEngine/vendor/spdlog"]
	path = TerracottaEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "TerracottaEngine/vendor/imgui-docking"]
	path = TerracottaEngine/vendor/imgui-docking
	url = https://github.com/ocornut/imgui.git
	branch = docking